
{% extends "@PIFront/Front/index.html.twig" %}

{% block body %}
   <center> <div><h3>La recherche par date</h3></div></center><br>
    <div style="">
    <form method="post">

        <center><h5 style="color: #122b40">Entrez la premiere Date :</h5><input type="date" name="debut"><h5 style="color: #122b40"> Entrez la deuxieme Date :</h5><input type="date" name="fin"><br></center><br>
  <center>  <input type="submit" value="Recherche" name="rech"  class="btn btn-round btn-info"></center>
    </form>

    </div><br><br><br><br><br><br>
    {% for Randonnees in Randonnees %}

        <div class="post-content" >

            <table>
                <tr><td width="50%"><h3 style="color:#122b40">{{ Randonnees.text }}</h3><br>

                        {% if Randonnees.path != null %}
                            <img style="width: 400px;height: 200px; margin-bottom: 10%" src="{{ asset("uploads/Randonnees/" ~Randonnees.path)}}"  >
                        {% endif %}
                <tr><td width="50%"><h3 style="color:#122b40">Destination: {{ Randonnees.destination }}</h3><br>
                <tr><td width="50%"><h3 style="color:#122b40">Date de depart:{{ Randonnees.datedepart|date("d/m/Y")  }}</h3><br>
                <tr><td width="50%"><h3 style="color:#122b40">Nombres de places:{{ Randonnees.places }}</h3><br>
                        <h4 style="color:#2A3542"> Creer le : {{ Randonnees.date|date("d/m/Y") }} | Par : <u> {{ Randonnees.user }} </u></h4><br>
                        <div class="reaction">
                            <a  href="{{path('jaime', { 'id': Randonnees.id })}}"class="btn text-green"><i class="icon ion-thumbsup"></i> {{ Randonnees.jaime }}</a>
                            <a  href="{{path('jaimepas', { 'id': Randonnees.id })}}" class="btn text-red"><i class="fa fa-thumbs-down"></i>{{  Randonnees.jaimepas }}</a>
                        </div></td>

                    <td width="10%">
                        <ul><br><br>
                            <a class="btn btn-round btn-default"  style="width: 80%"href={{ path('map',{'id':Randonnees.id}) }}> Localiser</a><br><br>
                            <a class="btn btn-round btn-default" style="width: 80%" href={{ path('convert',{'id':Randonnees.id}) }}>Reserver</a><br><br>
                            {% if  app.user==Randonnees.user  %}
                                <a class="btn btn-round btn-info" style="width: 80%" href="{{ path('Randonnee_edit', { 'id': Randonnees.id }) }}">Modifier</a><br><br>
                                <a class="btn btn-round btn-danger" style="width: 80%" href="{{ path('supp', { 'id': Randonnees.id }) }}">Supprimer</a><br><br><br>
                            {% endif %}
                        </ul></td></tr>
            </table>
        </div>

    {% endfor %}




{% endblock %}