<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from bucketadmin.themebucket.net/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 29 Jan 2017 20:52:22 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">

    <meta http-equiv=”X-UA-Compatible” content=”IE=EmulateIE9”>
    <meta http-equiv=”X-UA-Compatible” content=”IE=9”>

    <link rel="shortcut icon" href="images/favicon.html">
    <title>Tunihikers</title>
    <!--Core CSS -->
    <link href="{{ asset('backOffice/bs3/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('backOffice/js/jquery-ui/jquery-ui-1.10.1.custom.min.css') }}" rel="stylesheet">
    <link href="{{ asset('backOffice/css/bootstrap-reset.css') }}" rel="stylesheet">
    <link href="{{ asset('backOffice/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('backOffice/js/jvector-map/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet">
    <link href="{{ asset('backOffice/css/clndr.css') }}" rel="stylesheet">
    <!--clock css-->
    <link href="{{ asset('backOffice/js/css3clock/css/style.css') }}" rel="stylesheet">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{{ asset('js/morris-chart/morris.css') }}">
    <!-- Custom styles for this template -->
    <link href="{{ asset('backOffice/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('backOffice/css/style-responsive.css') }}" rel="stylesheet"/>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="backOffice/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">

            <a href="index-2.html" class="logo">
                <!--logo de social pro<img src="{{ asset('backOffice/images/logo.png') }}" alt="">-->
            </a>

        </div>
        <!--logo end-->

        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">

                    <ul class="dropdown-menu extended tasks-bar">
                        <li>
                            <p class="">You have 8 pending tasks</p>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info clearfix">
                                    <div class="desc pull-left">
                                        <h5>Target Sell</h5>
                                        <p>25% , Deadline  12 June’13</p>
                                    </div>
                                    <span class="notification-pie-chart pull-right" data-percent="45">
                            <span class="percent"></span>
                            </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info clearfix">
                                    <div class="desc pull-left">
                                        <h5>Product Delivery</h5>
                                        <p>45% , Deadline  12 June’13</p>
                                    </div>
                                    <span class="notification-pie-chart pull-right" data-percent="78">
                            <span class="percent"></span>
                            </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info clearfix">
                                    <div class="desc pull-left">
                                        <h5>Payment collection</h5>
                                        <p>87% , Deadline  12 June’13</p>
                                    </div>
                                    <span class="notification-pie-chart pull-right" data-percent="60">
                            <span class="percent"></span>
                            </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info clearfix">
                                    <div class="desc pull-left">
                                        <h5>Target Sell</h5>
                                        <p>33% , Deadline  12 June’13</p>
                                    </div>
                                    <span class="notification-pie-chart pull-right" data-percent="90">
                            <span class="percent"></span>
                            </span>
                                </div>
                            </a>
                        </li>

                        <li class="external">
                            <a href="#">See All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-important">4</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <li>
                            <p class="red">You have 4 Mails</p>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="{{ asset('backOffice/images/avatar-mini.jpg') }}"></span>
                                <span class="subject">
                                <span class="from">Jonathan Smith</span>
                                <span class="time">Just now</span>
                                </span>
                                <span class="message">
                                    Hello, this is an example msg.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="{{ asset('backOffice/images/avatar-mini-2.jpg') }}"></span>
                                <span class="subject">
                                <span class="from">Jane Doe</span>
                                <span class="time">2 min ago</span>
                                </span>
                                <span class="message">
                                    Nice admin template
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="{{ asset('backOffice/images/avatar-mini-3.jpg') }}"></span>
                                <span class="subject">
                                <span class="from">Tasi sam</span>
                                <span class="time">2 days ago</span>
                                </span>
                                <span class="message">
                                    This is an example msg.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="{{ asset('backOffice/images/avatar-mini.jpg') }}"></span>
                                <span class="subject">
                                <span class="from">Mr. Perfect</span>
                                <span class="time">2 hour ago</span>
                                </span>
                                <span class="message">
                                    Hi there, its a test
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">See all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-warning">3</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <li>
                            <p>Notifications</p>
                        </li>
                        <li>
                            <div class="alert alert-info clearfix">
                                <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                <div class="noti-info">
                                    <a href="#"> Server #1 overloaded.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="alert alert-danger clearfix">
                                <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                <div class="noti-info">
                                    <a href="#"> Server #2 overloaded.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="alert alert-success clearfix">
                                <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                <div class="noti-info">
                                    <a href="#"> Server #3 overloaded.</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                <li class="dropdown"><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                    <input type="text" class="form-control search" placeholder=" Search">
                </li>
                <!-- user login dropdown start-->

                <!-- user login dropdown end -->

            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">

                    <!--début Accueil***********************-->

                    <li>


                        <a class="active" href="{{ path('pi_back_homepage') }}">
                            <i class="fa fa-dashboard"></i>
                            <span>Accueil</span>
                        </a>
                    </li>

                    <!--fin Accueil***********************-->


                    <!--début Gestion des employés-->

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-laptop"></i>
                            <span>Gestion des Membres</span>
                        </a>
                        <ul class="sub">
                            <li><a href="#">Liste des Membres</a></li>
                            <li><a href="#">Ajouter un Membre</a></li>
                        </ul>
                    </li>
                    <!--fin gestin des employes *******************************-->


                    <!--Gestion des taches************************************-->

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-th"></i>
                            <span>Gestion des Formations</span>
                        </a>
                        <ul class="sub">
                            <li><a href="#">Liste des Formations par Membre</a></li>
                            <li><a href="{{ path('pi_back_ajouter_tache')}}">Ajouter une Formation</a></li>

                        </ul>
                    </li>

                    <!--fin gestion taches-->



                    <!--***************** gestion des congés-->


                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-book"></i>
                            <span>Gestion des demandes</span>
                        </a>
                        <ul class="sub">
                            <li><a href="#">Liste des demandes</a></li>



                        </ul>
                    </li>

                    <!--***************** fin gestion des congés-->


                    <!--************************Gestion des evennements-->

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            <span>Gestion des événements</span>
                        </a>
                        <ul class="sub">
                            <li><a href="#">Liste des catégories</a></li>
                            <li><a href="#">Liste des événements</a></li>
                            <li><a href="#">Ajouter un événement</a></li>


                        </ul>
                    </li>

                    <!--************************Fin Gestion des evennements-->



                    <!--****************Gestion des actualités-->

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-book"></i>
                            <span>Gestion des Randonnees</span>
                        </a>
                        <ul class="sub">
                            <li><a href="affback">Liste des Randonnees</a></li>



                        </ul>
                    </li>

                    <!--***************Fin Gestion des actualités -->


                    <!--***Gestion vente et location-->

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>Gestion ventes/locations</span>
                        </a>
                        <ul class="sub">
                            <li><a href="#">Consulter les articles en vente</a></li>
                            <li><a href="#">Consulter les articles en location</a></li>
                            <li><a href="#">Ajouter un articles en vente</a></li>
                            <li><a href="#">Ajouter un article en location</a></li>

                        </ul>
                    </li>

                    <!--********Fin Gestion des ventes et locations-->




                </ul>            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">


            <!--mini statistics start-->
            {% block body %}
            {% endblock %}

            <!--a ne pas toucher ------------------********************************-->



            <div id="daily-visit-chart" style="width:100%; height: 100px; display: block">
            </div>


            <div class="sm-pie">
            </div>

            <div id="graph-area" class="main-chart">
            </div>


            <!--a ne pas toucher ------------------********************************-->



        </section>
    </section>
    <!--main content end-->
    <!--right sidebar start-->

    <!--right sidebar end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<!--Core js-->
<script src="{{ asset('backOffice/js/jquery.js') }}"></script>
<script src="{{ asset('backOffice/js/jquery-ui/jquery-ui-1.10.1.custom.min.js') }}"></script>
<script src="{{ asset('backOffice/bs3/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('backOffice/js/jquery.dcjqaccordion.2.7.js') }}"></script>
<script src="{{ asset('backOffice/js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('backOffice/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('backOffice/js/jquery.nicescroll.js') }}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('backOffice/js/flot-chart/excanvas.min.js') }}"></script><![endif]-->
<script src="{{ asset('backOffice/js/skycons/skycons.js') }}"></script>
<script src="{{ asset('backOffice/js/jquery.scrollTo/jquery.scrollTo.js') }}"></script>
<script src="{{ asset('backOffice/cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js') }}"></script>
<script src="{{ asset('backOffice/js/calendar/clndr.js') }}"></script>
<script src="{{ asset('backOffice/cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js') }}"></script>
<script src="{{ asset('backOffice/js/calendar/moment-2.2.1.js') }}"></script>
<script src="{{ asset('backOffice/js/evnt.calendar.init.js') }}"></script>
<script src="{{ asset('backOffice/js/jvector-map/jquery-jvectormap-1.2.2.min.js') }}"></script>
<script src="{{ asset('backOffice/js/jvector-map/jquery-jvectormap-us-lcc-en.js') }}"></script>
<script src="{{ asset('backOffice/js/gauge/gauge.js') }}"></script>
<!--clock init-->
<script src="{{ asset('backOffice/js/css3clock/js/css3clock.js') }}"></script>
<!--Easy Pie Chart-->
<script src="{{ asset('backOffice/js/easypiechart/jquery.easypiechart.js') }}"></script>
<!--Sparkline Chart-->
<script src="{{ asset('backOffice/js/sparkline/jquery.sparkline.js') }}"></script>
<!--Morris Chart-->
<script src="{{ asset('backOffice/js/morris-chart/morris.js') }}"></script>
<script src="{{ asset('backOffice/js/morris-chart/raphael-min.js') }}"></script>
<!--jQuery Flot Chart-->
<script src="{{ asset('backOffice/js/flot-chart/jquery.flot.js') }}"></script>
<script src="{{ asset('backOffice/js/flot-chart/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ asset('backOffice/js/flot-chart/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('backOffice/js/flot-chart/jquery.flot.pie.resize.js') }}"></script>
<script src="{{ asset('backOffice/js/flot-chart/jquery.flot.animator.min.js') }}"></script>
<script src="{{ asset('backOffice/js/flot-chart/jquery.flot.growraf.js') }}"></script>
<script src="{{ asset('backOffice/js/dashboard.js') }}"></script>
<script src="{{ asset('backOffice/js/jquery.customSelect.min.js') }}" ></script>
<!--common script init for all pages-->
<script src="{{ asset('backOffice/js/scripts.js') }}"></script>
<!--script for this page-->
</body>

<!-- Mirrored from bucketadmin.themebucket.net/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 29 Jan 2017 20:53:00 GMT -->



</html>